name: Build and Deploy SSIS Packages

on:
  push:
    branches:
      - main
    paths:
      - 'HandsOnProjects/Timesheet/TimesheetMigrationProject/Integration Services Project1/**'
  workflow_dispatch:  # Adds manual trigger option

jobs:
  build-and-deploy:
    runs-on: self-hosted
    environment: mine

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Debug Workspace
        run: |
          echo "Workspace: ${{ github.workspace }}"
          dir "${{ github.workspace }}"
        shell: powershell

      - name: Build SSIS Project
        run: |
          & "C:\SSISDevOpsTools\SSISBuild.exe" `
          -p:"${{ github.workspace }}\HandsOnProjects\Timesheet\TimesheetMigrationProject\Integration Services Project1\Integration Services Project1.dtproj" `
          -o:"${{ github.workspace }}\output" `
          -c:Release
        shell: powershell

      - name: Deploy SSIS Packages
        run: |
          & "C:\SSISDevOpsTools\SSISDeploy.exe" `
          -s:"${{ github.workspace }}\output\Integration Services Project1.ispac" `
          -d:"catalog;/SSISDB/TimesheetFolder;LAPTOP-7LSAQSR0" `
          -at:win
        shell: powershell
